.fav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1080px;
    gap: 5px;
  }
  
  
  .fav-image{
    border-radius: 100%;
    width: 100px;
    height: auto;
  }

  .character-image-container:hover .delete-fav{
    opacity: 1;
    transform: translate(-50%, -50%) scale(2.5);
  }